body {
    background-color: #ffffff; /* Cor de fundo para o modo escuro */
  }
  
  .cardbody-color {
    background-color: #ffffff; /* Cor de fundo do cartão no modo escuro */
  }
  
  .modal-open .main-content {
    filter: blur(5px);
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
  }
  
  /* Estilos adicionais para ajustar o layout e a aparência */
  